---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { db } from "db";
import { eq, and } from "drizzle-orm";
import { pages } from "db/schema";

const { locale, slug } = Astro.params;
const data = await db
  .select()
  .from(pages)
  .where(and(eq(pages.slug, slug!), eq(pages.lang, locale!)));

if (!data[0]) {
  return Astro.redirect(`/404?locale=${locale}`);
}

const truncatedDescription = data[0].content!.length > 50 ? data[0].content!.slice(0, 50) + "..." : data[0].content;
---

<Layout lang={locale} title={data[0].title!} description={truncatedDescription!}>
  <Header lang={locale!} slug={slug} />
  <div class="container">
    <div class="py-20 text-9xl font-bold">{data[0].title}</div>
    <div class="py-20 text-xl font-bold">{data[0].content}</div>
  </div>
</Layout>
