---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
import { Button } from "@/components/ui/button";
import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";
import { db } from "db";
import { accolades } from "db/schema";
import { eq, and } from "drizzle-orm";
import { shortenText } from "@/lib/utils";

const { locale, id } = Astro.params;
const res = await db
  .select()
  .from(accolades)
  .where(and(eq(accolades.id, +id!), eq(accolades.lang, locale!)));

let updateStatus;

if (!res[0]) {
  return Astro.redirect(`/${locale}/admin/accolades/new`);
}

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const item = formData.get("item") as string;
    await db
      .update(accolades)
      .set({ item, lang: locale })
      .where(and(eq(accolades.id, +id!), eq(accolades.lang, locale!)));
    updateStatus = "success";
  } catch (error) {
    console.log(error);
    updateStatus = "error";
  }
  return Astro.redirect(`/${locale}/admin/accolades/${id}?update=${updateStatus}`);
}
---

<Layout lang={locale} title={shortenText(res[0].item!)}>
  <AdminNavbar lang={locale!} />
  <div class="container px-8">
    <h1 class="title py-20 text-3xl">{shortenText(res[0].item!)}</h1>
    <form method="POST" class="flex flex-col items-start gap-4">
      <Label htmlFor="item">Accolade</Label>
      <Textarea name="item" className="bg-transparent text-white" required rows={10} defaultValue={res[0].item!} />
      <Button type="submit" variant="secondary">send</Button>
    </form>
  </div>
</Layout>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const updateStatus = urlParams.get("update");

  if (updateStatus === "success") {
    alert("Update successful!");
  } else if (updateStatus === "error") {
    alert("Update failed.");
  }
</script>
