---
type Props = {
  data: {
    media: string;
    title: string;
    slug: string;
  }[][];
};

const { data } = Astro.props;
---

<>
  <div class="container grid grid-cols-3 gap-8 relative overflow-y-hidden mb-[10vh]">
    {
      data.map((part, index) => {
        const className = index === 1 ? "flex-col" : "flex-col-reverse column-reverse";
        return (
          <div class={`flex ${className} py-[10vh]`}>
            {part.map((item) => {
              const mediaArray: string[] = JSON.parse(item.media);
              const firstImage = mediaArray.length > 0 ? mediaArray[0] : "";
              return (
                <div class="py-4">
                  <a href={`/portfolio/${item.slug}`} class="block">
                    <img class="rounded-sm w-full aspect-[0.75] object-cover" src={`/assets/portfolio/${firstImage}`} alt={item.title} />
                  </a>
                  <p>{item.title}</p>
                </div>
              );
            })}
          </div>
        );
      })
    }
  </div>
  <div class="h-screen bg-slate-600"></div>
</>

<style>
  @keyframes adjust-position {
    from {
      transform: translateY(-110%);
    }

    to {
      transform: translateY(110%);
    }
  }

  .column-reverse {
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }
</style>
