---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import { db } from "db";
import { store } from "db/schema";
import { eq } from "drizzle-orm";

const { locale } = Astro.params;

// type Hero = {
//   key: string;
//   value: string;
//   lang: string;
// };

// if (Astro.request.method === "POST") {
//   const formData = await Astro.request.formData();

//   let arr: Hero[] = [];
//   for (const [key, value] of formData.entries()) {
//     const obj = { section: "hero", key: key, value: value as string, lang: "en" };
//     arr.push(obj);
//   }

//   await db.insert(store).values(arr);
// }

const res = await db.select().from(store).where(eq(store.section, "hero"));

const dict = res.reduce(
  (acc, cur) => {
    acc[cur.key as string] = cur.value as string;
    return acc;
  },
  {} as Record<string, string>
);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  for (const [key, value] of formData.entries()) {
    await db
      .update(store)
      .set({ value: value as string })
      .where(eq(store.key, key as string));
  }
  return Astro.redirect("/admin/hero");
}
---

<Layout title="Hero">
  <AdminNavbar />
  <div class="container px-8">
    <h1 class="title py-20 text-3xl">Hero</h1>
    <form method="POST" class="flex flex-col items-start gap-4">
      <Label htmlFor="siteTitleFirst">Site title first</Label>
      <Input type="text" name="siteTitleFirst" required className="bg-transparent text-white" defaultValue={dict.siteTitleFirst} />
      <Label htmlFor="siteTitleSecond">Site title second</Label>
      <Input type="text" name="siteTitleSecond" required className="bg-transparent text-white" defaultValue={dict.siteTitleSecond} />
      <Label htmlFor="siteDescriptionFirst">Site description first</Label>
      <Input type="text" name="siteDescriptionFirst" className="bg-transparent text-white" defaultValue={dict.siteDescriptionFirst} />
      <Label htmlFor="siteDescriptionSecond">Site description second</Label>
      <Input type="text" name="siteDescriptionSecond" className="bg-transparent text-white" defaultValue={dict.siteDescriptionSecond} />
      <Label htmlFor="aboutKey">About key</Label>
      <Input type="text" name="aboutKey" className="bg-transparent text-white" defaultValue={dict.aboutKey} />
      <Label htmlFor="about">About</Label>
      <Textarea name="about" className="bg-transparent text-white" rows={5} defaultValue={dict.about} />
      <Label htmlFor="specialitiesKey">Specialities key</Label>
      <Input type="text" name="specialitiesKey" className="bg-transparent text-white" defaultValue={dict.specialitiesKey} />
      <Label htmlFor="specialities">Specialities</Label>
      <Textarea name="specialities" className="bg-transparent text-white" rows={5} defaultValue={dict.specialities} />
      <Label htmlFor="specialitiesDescription">Specialities description</Label>
      <Textarea name="specialitiesDescription" className="bg-transparent text-white" rows={5} defaultValue={dict.specialitiesDescription} />
      <Button type="submit" variant="secondary">send</Button>
    </form>
  </div>
</Layout>
