---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { db } from "db";
import { eq } from "drizzle-orm";
import { portfolio, store } from "db/schema";
import type { StoreData } from "@/types/global";

const { id, locale } = Astro.params;

const storeData = await db.select().from(store).where(eq(store.lang, locale!));
const storeDataMap: StoreData = storeData.reduce((acc, cur) => {
  acc[cur.key as string] = cur.value as string;

  return acc;
}, {} as StoreData);

const data = await db.select().from(portfolio).where(eq(portfolio.slug, id!));

if (!data[0]) {
  return Astro.redirect(`/404?locale=${locale}`);
}
---

<Layout lang={locale} title={data[0].title!} description={data[0].content!}>
  <Header lang={locale!} id={id} links={storeDataMap.navbarLinks} />
  <div class="container px-8 pb-16">
    <h1 class="title py-20 text-3xl">{data[0].title}</h1>
    <div class="my-4">
      {
        JSON.parse(data[0].media!).map((media: string, index: number) => {
          return (
            <div class="my-8">
              <img src={`/assets/portfolio/${media}`} alt={`${data[0].title}-${index + 1}`} />
            </div>
          );
        })
      }
    </div>
    <p>{JSON.parse(data[0].content!)[locale!]}</p>
  </div>
</Layout>
